body{
    background-color: rgb(41, 19, 120);
}

#container{
    background-color: rgb(195, 210, 141);
    width: 65%;
margin: 20px auto;
border: 2px solid black;
padding: 20px;
}

#banner {
    width: 100%;
}

#col1 {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

#col2 {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}


.heading_style {
    text-shadow: 2px 1px 2px #9c2d38;
}

.anime_post {
    width: 40%;
}

img{ 
    display: block;
    margin: 0 auto;
    width: 100%;
}

nav{ 
    text-align: center;
    margin: 20px 0;
    background-color: red;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
display: block;
color: aliceblue;
font-size: 24px;
font-weight: bold;
text-decoration: none;
margin: 0 20px;
width: 100px;
height: 40px;
line-height: 40px;
}

nav a:hover {
    background-color: aliceblue;
    color: black;
}

#two_col {
    display: flex;
}

h1, 
h2, 
h3, 
footer {
    text-align: center;
}
